* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fbox {
    max-width: 1200px;
    padding: 3% 5%;
    background-color: #f9f9f9;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/*小标题*/

.line-container { /*包含水平线和文字的容器*/
    position: relative; /*相对定位，为内部绝对定位元素提供参考*/
    margin: 20px 0;
    text-align: center;
}

.line-container hr{
    margin: 0;
    border: none;
    border-top: 2px solid #000;
}

.line-container span {
    position: absolute; /*绝对定位*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*向左和向上平移自身宽度和高度的 50%，实现水平和垂直居中*/
    background-color: #f9f9f9; /*背景色，避免文字被水平线覆盖*/
    padding: 0 10px;
    font-size: 29px;
}


/*介绍*/

.biaoti {
    width: 100%;
    margin-top: 7%;
}

.jieshao {
    height: auto;
    margin-bottom: 40px;
    overflow: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* 奇数个 .jieshao 元素样式 */
.jieshao:nth-of-type(even) img {
    float: left;
    width: 40%;
    margin-right: 5%;
    border-radius: 4px;
}

.jieshao:nth-of-type(even) p {
    float: right;
    width: 55%;
    font-size: 16px;
    line-height: 1.6;
    background-color: transparent;
    padding-top: 10px;
}

/* 偶数个 .jieshao 元素样式 */
.jieshao:nth-of-type(odd) img {
    float: right;
    width: 40%;
    margin-left: 5%;
    border-radius: 4px;
}

.jieshao:nth-of-type(odd) p {
    float: left;
    width: 55%;
    font-size: 16px;
    line-height: 1.6;
    background-color: transparent;
    padding-top: 10px;
}

.imgStyle {
    display: block;
    text-align: center;
    margin: 20px 0;
}

.imgStyle img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


/*导航*/
/*.daohang {
    height: auto;
    overflow: auto;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
}
.daohang img {
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    margin-bottom: -5px;
    border-radius: 8px;
    /*transform: scale(1.2); /* 按 1.5 倍放大，可按需修改倍数 
    /*transform-origin: center; /* 以图片中心为缩放原点 
}*/