*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
}

.out{
	margin-top: -5%; /*整个图片区域的上外边距*/
	text-align: center;
	/* border: 1px red solid; */
	background-image: url(images/f60afbbc8d2e48e1a81126875fd14c61.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.out>ul{
	position: relative;
	/* border: 1px red solid; */
	margin: 0px auto;
	width: 960px;
	height: 709px;
	transform: scale(0.6);
}
.out>ul>li{
	position: absolute;
	opacity: 0;
	transition: all,1s;
}
.out>ul>li:hover{
	cursor: pointer;
}
.out>ul>li>img{
	width: 100%;
	height: 100%;
}

/*左右滑动按钮*/

.out>.anNiu{
	position: absolute;
	/*border: 1px #888888 solid;*/
	border: none;
	top: 280px;
	width: 100px;
	height: 200px;
	background-size: cover; /*背景图覆盖按钮*/
	background-repeat: no-repeat; /*不重复显示背景图片*/
	filter: opacity(0.85); /*调元素的透明度*/
}
.out>.anNiu:hover{
	cursor: pointer;
}
/*左滑按钮*/
#anNiu1{
	left: 170px;
	background-image: url('../img/绿色左按钮.png');
}
/*右滑按钮*/
#anNiu2{
	right: 170px;
	background-image: url('../img/绿色右按钮.png');
}


.out>ol{
	position: absolute;
	top: 600px;
	left: 48%;
}
.out>ol>li{
	background-color: ghostwhite;
	width: 10px ;
	height: 10px;
	float: left;
	margin-left: 10px;
	border-radius: 50%;
}
.out>ol::after{
	content: "";
	display: block;
	clear: both;
}



